/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.7.2-MariaDB, for Win64 (AMD64)
--
-- Host: maturitybackend-dev-databaseb269d8bb-7h9b2e16ryhv.cd6w86yy2wyp.eu-west-1.rds.amazonaws.com    Database: maturity_assessment
-- ------------------------------------------------------
-- Server version	8.0.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `acteurs`
--

DROP TABLE IF EXISTS `acteurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `acteurs` (
  `id_acteur` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom_prenom` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_role` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `organisation` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_entreprise` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `anciennete_role` int NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `oauth_provider` enum('local','google','microsoft','apple') COLLATE utf8mb4_unicode_ci DEFAULT 'local',
  `profile_picture` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `last_login` timestamp NULL DEFAULT NULL,
  `password_reset_token` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `password_reset_expires` timestamp NULL DEFAULT NULL,
  `email_verified` tinyint(1) DEFAULT '0',
  `email_verification_token` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `failed_login_attempts` int DEFAULT '0',
  `account_locked_until` timestamp NULL DEFAULT NULL,
  `oauth_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mot_de_passe` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `derniere_connexion` timestamp NULL DEFAULT NULL,
  `compte_actif` tinyint(1) DEFAULT '1',
  `tentatives_connexion` int DEFAULT '0',
  `date_expiration_mdp` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_acteur`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_acteurs_email` (`email`),
  KEY `idx_password_reset_token` (`password_reset_token`),
  KEY `idx_account_locked_until` (`account_locked_until`),
  KEY `idx_oauth_provider_id` (`oauth_provider`,`oauth_id`),
  KEY `idx_acteur_role` (`id_role`),
  KEY `idx_acteur_entreprise` (`id_entreprise`),
  KEY `idx_acteur_email` (`email`),
  KEY `idx_acteur_actif` (`compte_actif`),
  KEY `idx_acteurs_entreprise` (`id_entreprise`),
  KEY `idx_entreprise_actif` (`id_entreprise`),
  KEY `idx_email_actif` (`email`),
  CONSTRAINT `acteurs_ibfk_1` FOREIGN KEY (`id_entreprise`) REFERENCES `entreprises` (`id_entreprise`),
  CONSTRAINT `fk_acteur_role` FOREIGN KEY (`id_role`) REFERENCES `roles` (`id_role`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `applications`
--

DROP TABLE IF EXISTS `applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `applications` (
  `id_application` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom_application` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `statut` enum('Projet','Run') COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` enum('Build','Buy') COLLATE utf8mb4_unicode_ci NOT NULL,
  `hebergement` enum('Cloud','Prem','Hybrid') COLLATE utf8mb4_unicode_ci NOT NULL,
  `architecture_logicielle` enum('ERP','Multitenant SAAS','MVC','Monolithique') COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_entreprise` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_mise_en_prod` date DEFAULT NULL,
  `language` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `editeur` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_application`),
  KEY `fk_application_entreprise` (`id_entreprise`),
  CONSTRAINT `applications_ibfk_1` FOREIGN KEY (`id_entreprise`) REFERENCES `entreprises` (`id_entreprise`),
  CONSTRAINT `fk_application_entreprise` FOREIGN KEY (`id_entreprise`) REFERENCES `entreprises` (`id_entreprise`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id_log` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_acteur` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `table_affectee` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_ressource` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `details_avant` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,
  `details_apres` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,
  `adresse_ip` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `date_action` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_log`),
  KEY `idx_audit_acteur` (`id_acteur`),
  KEY `idx_audit_action` (`action`),
  KEY `idx_audit_date` (`date_action`),
  KEY `idx_audit_table` (`table_affectee`),
  CONSTRAINT `audit_logs_ibfk_1` FOREIGN KEY (`id_acteur`) REFERENCES `acteurs` (`id_acteur`) ON DELETE SET NULL,
  CONSTRAINT `audit_logs_chk_1` CHECK (json_valid(`details_avant`)),
  CONSTRAINT `audit_logs_chk_2` CHECK (json_valid(`details_apres`))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `audit_modele_maturite`
--

DROP TABLE IF EXISTS `audit_modele_maturite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_modele_maturite` (
  `id_audit` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type_action` enum('CREATE','UPDATE','DELETE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `type_entite` enum('FONCTION','THEMATIQUE','NIVEAU_GLOBAL','NIVEAU_THEMATIQUE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_entite` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ancien_valeur` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,
  `nouvelle_valeur` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,
  `id_utilisateur` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_action` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_audit`),
  KEY `idx_audit_date` (`date_action`),
  KEY `idx_audit_entite` (`type_entite`,`id_entite`),
  CONSTRAINT `audit_modele_maturite_chk_1` CHECK (json_valid(`ancien_valeur`)),
  CONSTRAINT `audit_modele_maturite_chk_2` CHECK (json_valid(`nouvelle_valeur`))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `benchmark_cache`
--

DROP TABLE IF EXISTS `benchmark_cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `benchmark_cache` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cache_key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `expires_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cache_key` (`cache_key`),
  KEY `idx_cache_key` (`cache_key`),
  KEY `idx_expires_at` (`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Cache des analyses benchmark LLM avec expiration automatique';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `entreprise_scores`
--

DROP TABLE IF EXISTS `entreprise_scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `entreprise_scores` (
  `id_entreprise` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `score_global` decimal(5,2) NOT NULL,
  `date_calcul` date NOT NULL,
  PRIMARY KEY (`id_entreprise`),
  CONSTRAINT `entreprise_scores_ibfk_1` FOREIGN KEY (`id_entreprise`) REFERENCES `entreprises` (`id_entreprise`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `entreprises`
--

DROP TABLE IF EXISTS `entreprises`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `entreprises` (
  `id_entreprise` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom_entreprise` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `secteur` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `taille_entreprise` enum('TPE','PME','ETI','GE') COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Tr├¿s Petite Entreprise, Petite et Moyenne Entreprise, Entreprise de Taille Interm├®diaire, Grande Entreprise',
  `chiffre_affaires` decimal(15,2) DEFAULT NULL COMMENT 'Chiffre d''affaires en euros',
  `effectif_total` int DEFAULT NULL COMMENT 'Nombre total d''employ├®s',
  `ville_siege_social` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Ville du si├¿ge social',
  `pays_siege_social` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT 'France' COMMENT 'Pays du si├¿ge social',
  `date_premiere_evaluation` datetime DEFAULT NULL COMMENT 'Date de la premi├¿re ├®valuation',
  `statut_evaluation` enum('EN_ATTENTE','EN_COURS','EVALUE') COLLATE utf8mb4_unicode_ci DEFAULT 'EN_ATTENTE' COMMENT 'Statut global d''├®valuation',
  `description` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `adresse` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telephone` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `site_web` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_entreprise`),
  KEY `idx_entreprises_taille` (`taille_entreprise`),
  KEY `idx_entreprises_statut_eval` (`statut_evaluation`),
  KEY `idx_entreprises_ville` (`ville_siege_social`),
  KEY `idx_statut_evaluation` (`statut_evaluation`),
  KEY `idx_nom_entreprise` (`nom_entreprise`),
  KEY `idx_secteur_actif` (`secteur`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `evaluation_invites`
--

DROP TABLE IF EXISTS `evaluation_invites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `evaluation_invites` (
  `id_invite` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_entreprise` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_acteur` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_evaluation` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nom_prenom` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fonction` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` enum('Manager','Evaluateur','Observateur') COLLATE utf8mb4_unicode_ci NOT NULL,
  `statut` enum('ATTENTE','ACCEPTE','EXPIRE') COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_creation` datetime NOT NULL,
  `date_expiration` datetime NOT NULL,
  PRIMARY KEY (`id_invite`),
  UNIQUE KEY `token` (`token`),
  KEY `id_entreprise` (`id_entreprise`),
  KEY `id_acteur` (`id_acteur`),
  CONSTRAINT `evaluation_invites_ibfk_1` FOREIGN KEY (`id_entreprise`) REFERENCES `entreprises` (`id_entreprise`),
  CONSTRAINT `evaluation_invites_ibfk_2` FOREIGN KEY (`id_acteur`) REFERENCES `acteurs` (`id_acteur`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `evaluations_maturite_globale`
--

DROP TABLE IF EXISTS `evaluations_maturite_globale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `evaluations_maturite_globale` (
  `id_evaluation` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_entreprise` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_acteur` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Acteur qui fait l''├®valuation',
  `score_global` decimal(5,2) NOT NULL DEFAULT '0.00' COMMENT 'Score global de cet acteur (0-5)',
  `score_cybersecurite` decimal(5,2) NOT NULL DEFAULT '0.00',
  `score_maturite_digitale` decimal(5,2) NOT NULL DEFAULT '0.00',
  `score_gouvernance_donnees` decimal(5,2) NOT NULL DEFAULT '0.00',
  `score_devsecops` decimal(5,2) NOT NULL DEFAULT '0.00',
  `score_innovation_numerique` decimal(5,2) NOT NULL DEFAULT '0.00',
  `date_debut` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'D├®but de l''├®valuation',
  `date_soumission` datetime DEFAULT NULL COMMENT 'Date de soumission compl├¿te',
  `duree_evaluation` int DEFAULT NULL COMMENT 'Dur├®e en minutes',
  `statut` enum('BROUILLON','EN_COURS','TERMINE') COLLATE utf8mb4_unicode_ci DEFAULT 'BROUILLON',
  `commentaire_general` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_evaluation`),
  UNIQUE KEY `unique_acteur_entreprise` (`id_acteur`,`id_entreprise`),
  KEY `idx_eval_entreprise` (`id_entreprise`),
  KEY `idx_eval_acteur` (`id_acteur`),
  KEY `idx_eval_statut` (`statut`),
  KEY `idx_eval_date_soumission` (`date_soumission`),
  KEY `idx_entreprise_statut` (`id_entreprise`,`statut`),
  KEY `idx_acteur_statut` (`id_acteur`,`statut`),
  KEY `idx_statut_date` (`statut`,`date_debut`),
  KEY `idx_evaluation_lookup` (`id_evaluation`,`statut`,`id_entreprise`),
  CONSTRAINT `evaluations_maturite_globale_ibfk_1` FOREIGN KEY (`id_entreprise`) REFERENCES `entreprises` (`id_entreprise`) ON DELETE CASCADE,
  CONSTRAINT `evaluations_maturite_globale_ibfk_2` FOREIGN KEY (`id_acteur`) REFERENCES `acteurs` (`id_acteur`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `fonctions`
--

DROP TABLE IF EXISTS `fonctions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `fonctions` (
  `id_fonction` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `ordre` int DEFAULT NULL,
  `actif` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id_fonction`),
  UNIQUE KEY `nom` (`nom`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `fonctions_maturite_globale`
--

DROP TABLE IF EXISTS `fonctions_maturite_globale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `fonctions_maturite_globale` (
  `id_fonction` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `code_fonction` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `poids` decimal(3,2) DEFAULT '1.00',
  `ordre_affichage` int NOT NULL,
  `actif` tinyint(1) DEFAULT '1',
  `couleur` varchar(7) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '#2196F3',
  `icone` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'TrendingUp',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_fonction`),
  UNIQUE KEY `code_fonction` (`code_fonction`),
  KEY `idx_ordre_actif` (`ordre_affichage`,`actif`),
  KEY `idx_code_fonction` (`code_fonction`),
  KEY `idx_actif_ordre` (`actif`,`ordre_affichage`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `formulaires`
--

DROP TABLE IF EXISTS `formulaires`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `formulaires` (
  `id_formulaire` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_acteur` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_application` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_questionnaire` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_creation` timestamp NOT NULL,
  `date_modification` timestamp NOT NULL,
  `statut` enum('Brouillon','Soumis','Valid├®') COLLATE utf8mb4_unicode_ci DEFAULT 'Brouillon',
  `progression` decimal(5,2) DEFAULT '0.00',
  PRIMARY KEY (`id_formulaire`),
  KEY `idx_formulaire_app` (`id_application`),
  KEY `idx_formulaire_acteur` (`id_acteur`),
  KEY `idx_formulaire_questionnaire` (`id_questionnaire`),
  KEY `idx_formulaires_questionnaire` (`id_questionnaire`),
  KEY `idx_formulaires_acteur` (`id_acteur`),
  KEY `idx_formulaires_application` (`id_application`),
  KEY `idx_formulaires_date_creation` (`date_creation`),
  CONSTRAINT `formulaires_ibfk_1` FOREIGN KEY (`id_acteur`) REFERENCES `acteurs` (`id_acteur`),
  CONSTRAINT `formulaires_ibfk_2` FOREIGN KEY (`id_application`) REFERENCES `applications` (`id_application`),
  CONSTRAINT `formulaires_ibfk_3` FOREIGN KEY (`id_questionnaire`) REFERENCES `questionnaires` (`id_questionnaire`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `grille_interpretation`
--

DROP TABLE IF EXISTS `grille_interpretation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `grille_interpretation` (
  `id_grille` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fonction` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `score_min` decimal(5,2) NOT NULL,
  `score_max` decimal(5,2) NOT NULL,
  `niveau` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `recommandations` text COLLATE utf8mb4_unicode_ci,
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_grille`),
  KEY `idx_grille_fonction` (`fonction`),
  KEY `idx_grille_niveau` (`niveau`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `historique_scores`
--

DROP TABLE IF EXISTS `historique_scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `historique_scores` (
  `id_historique` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_application` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_entreprise` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `thematique` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `score` decimal(5,2) NOT NULL,
  `date_mesure` date NOT NULL,
  PRIMARY KEY (`id_historique`),
  KEY `idx_historique_app` (`id_application`),
  KEY `idx_historique_date` (`date_mesure`),
  KEY `fk_historique_entreprise` (`id_entreprise`),
  CONSTRAINT `fk_historique_entreprise` FOREIGN KEY (`id_entreprise`) REFERENCES `entreprises` (`id_entreprise`),
  CONSTRAINT `historique_scores_ibfk_1` FOREIGN KEY (`id_application`) REFERENCES `applications` (`id_application`),
  CONSTRAINT `historique_scores_ibfk_2` FOREIGN KEY (`id_entreprise`) REFERENCES `entreprises` (`id_entreprise`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `historique_scores_entreprises`
--

DROP TABLE IF EXISTS `historique_scores_entreprises`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `historique_scores_entreprises` (
  `id_historique` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_entreprise` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `score_global` decimal(5,2) NOT NULL,
  `date_mesure` date NOT NULL,
  PRIMARY KEY (`id_historique`),
  KEY `idx_hse_entreprise` (`id_entreprise`),
  KEY `idx_hse_date` (`date_mesure`),
  CONSTRAINT `historique_scores_entreprises_ibfk_1` FOREIGN KEY (`id_entreprise`) REFERENCES `entreprises` (`id_entreprise`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `historique_scores_formulaires`
--

DROP TABLE IF EXISTS `historique_scores_formulaires`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `historique_scores_formulaires` (
  `id_historique` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_formulaire` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `score_actuel` decimal(5,2) NOT NULL DEFAULT '0.00',
  `score_maximum` decimal(5,2) NOT NULL DEFAULT '0.00',
  `progression` decimal(5,2) GENERATED ALWAYS AS ((case when (`score_maximum` > 0) then ((`score_actuel` / `score_maximum`) * 100) else 0 end)) STORED,
  `date_mesure` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_historique`),
  KEY `idx_formulaire` (`id_formulaire`),
  KEY `idx_date` (`date_mesure`),
  CONSTRAINT `fk_historique_formulaire` FOREIGN KEY (`id_formulaire`) REFERENCES `formulaires` (`id_formulaire`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `maturity_analyses`
--

DROP TABLE IF EXISTS `maturity_analyses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `maturity_analyses` (
  `id_analyse` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_application` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_analyse` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `score_global` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`id_analyse`),
  KEY `idx_analyse_app` (`id_application`),
  CONSTRAINT `maturity_analyses_ibfk_1` FOREIGN KEY (`id_application`) REFERENCES `applications` (`id_application`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `modules`
--

DROP TABLE IF EXISTS `modules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `modules` (
  `id_module` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom_module` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `route_base` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `icone` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ordre_affichage` int DEFAULT '0',
  `actif` tinyint(1) DEFAULT '1',
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_module`),
  UNIQUE KEY `nom_module` (`nom_module`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `niveaux_globaux`
--

DROP TABLE IF EXISTS `niveaux_globaux`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `niveaux_globaux` (
  `id_niveau` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_fonction` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `score_min` decimal(5,2) NOT NULL,
  `score_max` decimal(5,2) NOT NULL,
  `niveau` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `recommandations` text COLLATE utf8mb4_unicode_ci,
  `ordre` int DEFAULT NULL,
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_niveau`),
  KEY `idx_niveau_fonction` (`id_fonction`),
  KEY `idx_niveau_score` (`score_min`,`score_max`),
  CONSTRAINT `niveaux_globaux_ibfk_1` FOREIGN KEY (`id_fonction`) REFERENCES `fonctions` (`id_fonction`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `niveaux_maturite_globale`
--

DROP TABLE IF EXISTS `niveaux_maturite_globale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `niveaux_maturite_globale` (
  `id_niveau` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_fonction` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom_niveau` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `score_min` decimal(3,2) NOT NULL,
  `score_max` decimal(3,2) NOT NULL,
  `ordre_niveau` int NOT NULL,
  `couleur` varchar(7) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '#4CAF50',
  `actif` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_niveau`),
  KEY `idx_fonction_score` (`id_fonction`,`score_min`,`score_max`),
  KEY `idx_ordre_niveau` (`ordre_niveau`),
  KEY `idx_niveaux_fonction_score` (`id_fonction`,`score_min`,`score_max`,`actif`),
  KEY `idx_fonction_actif` (`id_fonction`,`actif`),
  KEY `idx_score_range_2` (`id_fonction`,`score_min`,`score_max`,`actif`),
  KEY `idx_ordre_niveau_2` (`id_fonction`,`ordre_niveau`,`actif`),
  CONSTRAINT `niveaux_maturite_globale_ibfk_1` FOREIGN KEY (`id_fonction`) REFERENCES `fonctions_maturite_globale` (`id_fonction`) ON DELETE CASCADE,
  CONSTRAINT `chk_score_range` CHECK (((`score_min` >= 0) and (`score_max` <= 5) and (`score_min` <= `score_max`)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `niveaux_thematiques`
--

DROP TABLE IF EXISTS `niveaux_thematiques`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `niveaux_thematiques` (
  `id_niveau` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_fonction` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_thematique` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `score_min` decimal(5,2) NOT NULL,
  `score_max` decimal(5,2) NOT NULL,
  `niveau` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `recommandations` text COLLATE utf8mb4_unicode_ci,
  `ordre` int DEFAULT NULL,
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_niveau`),
  KEY `idx_niveau_them_fonction` (`id_fonction`),
  KEY `idx_niveau_them_thematique` (`id_thematique`),
  KEY `idx_niveau_them_score` (`score_min`,`score_max`),
  CONSTRAINT `niveaux_thematiques_ibfk_1` FOREIGN KEY (`id_fonction`) REFERENCES `fonctions` (`id_fonction`) ON DELETE CASCADE,
  CONSTRAINT `niveaux_thematiques_ibfk_2` FOREIGN KEY (`id_thematique`) REFERENCES `thematiques` (`id_thematique`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `id_permission` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_acteur` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type_ressource` enum('APPLICATION','QUESTIONNAIRE','FORMULAIRE','RAPPORT') COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_module` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_ressource` varchar(36) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `peut_voir` tinyint(1) DEFAULT '0',
  `peut_editer` tinyint(1) DEFAULT '0',
  `peut_supprimer` tinyint(1) DEFAULT '0',
  `peut_administrer` tinyint(1) DEFAULT '0',
  `ressource` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `action` enum('read','write','delete','admin') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `conditions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,
  `is_active` tinyint(1) DEFAULT '1',
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_permission`),
  UNIQUE KEY `unique_permission` (`id_acteur`,`ressource`,`action`),
  KEY `idx_permission_acteur` (`id_acteur`),
  KEY `idx_permission_ressource` (`type_ressource`,`id_ressource`),
  KEY `idx_permission_module` (`id_module`),
  CONSTRAINT `fk_permission_module` FOREIGN KEY (`id_module`) REFERENCES `modules` (`id_module`),
  CONSTRAINT `permissions_ibfk_1` FOREIGN KEY (`id_acteur`) REFERENCES `acteurs` (`id_acteur`) ON DELETE CASCADE,
  CONSTRAINT `permissions_chk_1` CHECK (json_valid(`conditions`))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `question_metadata`
--

DROP TABLE IF EXISTS `question_metadata`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `question_metadata` (
  `id_question` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `metadata_key` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `metadata_value` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_question`,`metadata_key`),
  CONSTRAINT `question_metadata_ibfk_1` FOREIGN KEY (`id_question`) REFERENCES `questions` (`id_question`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `questionnaire_thematiques`
--

DROP TABLE IF EXISTS `questionnaire_thematiques`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `questionnaire_thematiques` (
  `id_questionnaire` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_thematique` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ordre` int DEFAULT '1',
  PRIMARY KEY (`id_questionnaire`,`id_thematique`),
  KEY `id_thematique` (`id_thematique`),
  KEY `idx_questionnaire_thematiques` (`id_questionnaire`,`id_thematique`),
  CONSTRAINT `questionnaire_thematiques_ibfk_1` FOREIGN KEY (`id_questionnaire`) REFERENCES `questionnaires` (`id_questionnaire`) ON DELETE CASCADE,
  CONSTRAINT `questionnaire_thematiques_ibfk_2` FOREIGN KEY (`id_thematique`) REFERENCES `thematiques` (`id_thematique`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `questionnaires`
--

DROP TABLE IF EXISTS `questionnaires`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `questionnaires` (
  `id_questionnaire` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `nom` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id_questionnaire`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `questions`
--

DROP TABLE IF EXISTS `questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `questions` (
  `id_question` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_thematique` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `texte` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `aide_reponse` text COLLATE utf8mb4_unicode_ci,
  `ponderation` int NOT NULL,
  `ordre` int DEFAULT NULL,
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_question`),
  KEY `id_thematique` (`id_thematique`),
  KEY `idx_questions_thematique` (`id_thematique`),
  CONSTRAINT `questions_ibfk_2` FOREIGN KEY (`id_thematique`) REFERENCES `thematiques` (`id_thematique`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `questions_maturite_globale`
--

DROP TABLE IF EXISTS `questions_maturite_globale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `questions_maturite_globale` (
  `id_question` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `fonction` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'cybersecurite, maturite_digitale, gouvernance_donnees, devsecops, innovation_numerique',
  `numero_question` int NOT NULL,
  `texte_question` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `poids` decimal(3,2) DEFAULT '1.00' COMMENT 'Poids de la question dans le calcul',
  `type_reponse` enum('ECHELLE_1_5') COLLATE utf8mb4_unicode_ci DEFAULT 'ECHELLE_1_5' COMMENT 'Type de r├®ponse attendu',
  `ordre_affichage` int NOT NULL,
  `actif` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `id_fonction_globale` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_question`),
  KEY `idx_questions_fonction` (`fonction`),
  KEY `idx_questions_ordre` (`ordre_affichage`),
  KEY `idx_questions_actif` (`actif`),
  KEY `idx_fonction_globale` (`id_fonction_globale`),
  KEY `idx_questions_fonction_actif` (`id_fonction_globale`,`actif`,`ordre_affichage`),
  KEY `idx_fonction_actif` (`id_fonction_globale`,`actif`),
  KEY `idx_ordre_affichage` (`ordre_affichage`,`actif`),
  KEY `idx_fonction_ordre` (`id_fonction_globale`,`ordre_affichage`,`actif`),
  CONSTRAINT `questions_maturite_globale_ibfk_1` FOREIGN KEY (`id_fonction_globale`) REFERENCES `fonctions_maturite_globale` (`id_fonction`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `recommandations_maturite`
--

DROP TABLE IF EXISTS `recommandations_maturite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `recommandations_maturite` (
  `id_recommandation` varchar(36) NOT NULL,
  `fonction` varchar(50) NOT NULL,
  `niveau_min` decimal(3,1) NOT NULL COMMENT 'Score minimum (ex: 1.0)',
  `niveau_max` decimal(3,1) NOT NULL COMMENT 'Score maximum (ex: 2.0)',
  `type_recommandation` enum('CABINET','LLM_PUBLIC','PERSONNALISEE') NOT NULL,
  `titre` varchar(200) NOT NULL,
  `description` text NOT NULL,
  `actions_recommandees` json DEFAULT NULL,
  `priorite` enum('HAUTE','MOYENNE','FAIBLE') DEFAULT 'MOYENNE',
  `est_actif` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_recommandation`),
  KEY `idx_reco_fonction_niveau` (`fonction`,`niveau_min`,`niveau_max`),
  KEY `idx_reco_type` (`type_recommandation`),
  KEY `idx_reco_actif` (`est_actif`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `recommandations_maturite_globale`
--

DROP TABLE IF EXISTS `recommandations_maturite_globale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `recommandations_maturite_globale` (
  `id_recommandation` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_fonction` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_niveau` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `titre` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `actions_recommandees` json DEFAULT NULL,
  `priorite` enum('FAIBLE','MOYENNE','HAUTE','CRITIQUE') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'MOYENNE',
  `type_recommandation` enum('IMMEDIATE','COURT_TERME','MOYEN_TERME','LONG_TERME') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'MOYEN_TERME',
  `score_min` decimal(3,2) DEFAULT NULL,
  `score_max` decimal(3,2) DEFAULT NULL,
  `ordre_affichage` int DEFAULT '0',
  `actif` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_recommandation`),
  KEY `id_niveau` (`id_niveau`),
  KEY `idx_fonction_niveau` (`id_fonction`,`id_niveau`),
  KEY `idx_priorite` (`priorite`),
  KEY `idx_score_range` (`score_min`,`score_max`),
  KEY `idx_recommandations_fonction_niveau` (`id_fonction`,`id_niveau`,`actif`,`priorite`),
  KEY `idx_fonction_actif` (`id_fonction`,`actif`),
  KEY `idx_score_recommandation` (`id_fonction`,`score_min`,`score_max`,`actif`),
  KEY `idx_priorite_ordre` (`priorite`,`ordre_affichage`),
  CONSTRAINT `recommandations_maturite_globale_ibfk_1` FOREIGN KEY (`id_fonction`) REFERENCES `fonctions_maturite_globale` (`id_fonction`) ON DELETE CASCADE,
  CONSTRAINT `recommandations_maturite_globale_ibfk_2` FOREIGN KEY (`id_niveau`) REFERENCES `niveaux_maturite_globale` (`id_niveau`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reponses`
--

DROP TABLE IF EXISTS `reponses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `reponses` (
  `id_reponse` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_formulaire` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_question` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `valeur_reponse` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `score` int NOT NULL,
  `commentaire` text COLLATE utf8mb4_unicode_ci,
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_reponse`),
  KEY `idx_reponse_formulaire` (`id_formulaire`),
  KEY `idx_reponse_question` (`id_question`),
  KEY `idx_reponses_formulaire_question` (`id_formulaire`,`id_question`),
  CONSTRAINT `reponses_ibfk_1` FOREIGN KEY (`id_formulaire`) REFERENCES `formulaires` (`id_formulaire`) ON DELETE CASCADE,
  CONSTRAINT `reponses_ibfk_2` FOREIGN KEY (`id_question`) REFERENCES `questions` (`id_question`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reponses_maturite_globale`
--

DROP TABLE IF EXISTS `reponses_maturite_globale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `reponses_maturite_globale` (
  `id_reponse` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_evaluation` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_question` varchar(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `valeur_reponse` tinyint NOT NULL COMMENT 'Valeur 1-5',
  `score_normalise` decimal(5,2) NOT NULL DEFAULT '0.00' COMMENT 'Score normalis├® avec poids',
  `commentaire` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `date_reponse` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_reponse`),
  UNIQUE KEY `unique_question_evaluation` (`id_evaluation`,`id_question`),
  UNIQUE KEY `idx_unique_response` (`id_evaluation`,`id_question`),
  KEY `idx_reponses_evaluation` (`id_evaluation`),
  KEY `idx_reponses_question` (`id_question`),
  KEY `idx_evaluation_question` (`id_evaluation`,`id_question`),
  KEY `idx_question_response` (`id_question`,`valeur_reponse`),
  CONSTRAINT `reponses_maturite_globale_ibfk_1` FOREIGN KEY (`id_evaluation`) REFERENCES `evaluations_maturite_globale` (`id_evaluation`) ON DELETE CASCADE,
  CONSTRAINT `reponses_maturite_globale_ibfk_2` FOREIGN KEY (`id_question`) REFERENCES `questions_maturite_globale` (`id_question`) ON DELETE CASCADE,
  CONSTRAINT `reponses_maturite_globale_chk_1` CHECK (((`valeur_reponse` >= 1) and (`valeur_reponse` <= 5)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `role_permissions`
--

DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_permissions` (
  `id_role_permission` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_role` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_module` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `peut_voir` tinyint(1) DEFAULT '0',
  `peut_editer` tinyint(1) DEFAULT '0',
  `peut_supprimer` tinyint(1) DEFAULT '0',
  `peut_administrer` tinyint(1) DEFAULT '0',
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_role_permission`),
  UNIQUE KEY `unique_role_module` (`id_role`,`id_module`),
  KEY `id_module` (`id_module`),
  CONSTRAINT `role_permissions_ibfk_1` FOREIGN KEY (`id_role`) REFERENCES `roles` (`id_role`) ON DELETE CASCADE,
  CONSTRAINT `role_permissions_ibfk_2` FOREIGN KEY (`id_module`) REFERENCES `modules` (`id_module`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id_role` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom_role` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `niveau_acces` enum('ENTREPRISE','GLOBAL') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ENTREPRISE',
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_role`),
  UNIQUE KEY `nom_role` (`nom_role`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `scores_maturite_globale`
--

DROP TABLE IF EXISTS `scores_maturite_globale`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `scores_maturite_globale` (
  `id_score` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_evaluation` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fonction` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `score` decimal(5,2) NOT NULL,
  `niveau` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `progress` decimal(5,2) NOT NULL,
  PRIMARY KEY (`id_score`),
  KEY `id_evaluation` (`id_evaluation`),
  CONSTRAINT `scores_maturite_globale_ibfk_1` FOREIGN KEY (`id_evaluation`) REFERENCES `evaluations_maturite_globale` (`id_evaluation`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `thematique_scores`
--

DROP TABLE IF EXISTS `thematique_scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `thematique_scores` (
  `id_score` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_analyse` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `thematique` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `score` decimal(5,2) NOT NULL,
  `nombre_reponses` int NOT NULL,
  PRIMARY KEY (`id_score`),
  KEY `idx_score_analyse` (`id_analyse`),
  KEY `idx_score_thematique` (`thematique`),
  CONSTRAINT `thematique_scores_ibfk_1` FOREIGN KEY (`id_analyse`) REFERENCES `maturity_analyses` (`id_analyse`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `thematiques`
--

DROP TABLE IF EXISTS `thematiques`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `thematiques` (
  `id_thematique` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nom` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `id_fonction` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_creation` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `date_modification` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `nombre_questions` int DEFAULT '0',
  `ordre` int DEFAULT NULL,
  `actif` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id_thematique`),
  UNIQUE KEY `nom` (`nom`,`id_fonction`),
  KEY `id_fonction` (`id_fonction`),
  KEY `idx_thematiques_fonction` (`id_fonction`),
  CONSTRAINT `thematiques_ibfk_1` FOREIGN KEY (`id_fonction`) REFERENCES `fonctions` (`id_fonction`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `user_sessions`
--

DROP TABLE IF EXISTS `user_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_sessions` (
  `session_id` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_acteur` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `last_activity` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `expires_at` timestamp NOT NULL,
  PRIMARY KEY (`session_id`),
  KEY `idx_acteur` (`id_acteur`),
  KEY `idx_expires` (`expires_at`),
  CONSTRAINT `user_sessions_ibfk_1` FOREIGN KEY (`id_acteur`) REFERENCES `acteurs` (`id_acteur`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary table structure for view `v_entreprise_stats_evaluations`
--

DROP TABLE IF EXISTS `v_entreprise_stats_evaluations`;
/*!50001 DROP VIEW IF EXISTS `v_entreprise_stats_evaluations`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8mb4;
/*!50001 CREATE VIEW `v_entreprise_stats_evaluations` AS SELECT
 1 AS `id_entreprise`,
  1 AS `nom_entreprise`,
  1 AS `secteur`,
  1 AS `nb_evaluations_total`,
  1 AS `nb_evaluations_terminees`,
  1 AS `nb_evaluations_en_cours`,
  1 AS `score_global_moyen`,
  1 AS `score_cybersecurite_moyen`,
  1 AS `score_maturite_digitale_moyen`,
  1 AS `score_gouvernance_donnees_moyen`,
  1 AS `score_devsecops_moyen`,
  1 AS `score_innovation_numerique_moyen`,
  1 AS `derniere_evaluation`,
  1 AS `premiere_evaluation`,
  1 AS `duree_moyenne_evaluation` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_evaluation_complete`
--

DROP TABLE IF EXISTS `v_evaluation_complete`;
/*!50001 DROP VIEW IF EXISTS `v_evaluation_complete`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8mb4;
/*!50001 CREATE VIEW `v_evaluation_complete` AS SELECT
 1 AS `id_evaluation`,
  1 AS `id_entreprise`,
  1 AS `id_acteur`,
  1 AS `statut`,
  1 AS `date_debut`,
  1 AS `date_soumission`,
  1 AS `duree_evaluation`,
  1 AS `score_global`,
  1 AS `nom_entreprise`,
  1 AS `secteur`,
  1 AS `nom_acteur`,
  1 AS `email_acteur`,
  1 AS `nb_reponses`,
  1 AS `nb_questions_repondues`,
  1 AS `niveau_maturite_global` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_evaluations_avec_niveaux`
--

DROP TABLE IF EXISTS `v_evaluations_avec_niveaux`;
/*!50001 DROP VIEW IF EXISTS `v_evaluations_avec_niveaux`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8mb4;
/*!50001 CREATE VIEW `v_evaluations_avec_niveaux` AS SELECT
 1 AS `id_evaluation`,
  1 AS `id_entreprise`,
  1 AS `id_acteur`,
  1 AS `score_global`,
  1 AS `score_cybersecurite`,
  1 AS `score_maturite_digitale`,
  1 AS `score_gouvernance_donnees`,
  1 AS `score_devsecops`,
  1 AS `score_innovation_numerique`,
  1 AS `date_debut`,
  1 AS `date_soumission`,
  1 AS `duree_evaluation`,
  1 AS `statut`,
  1 AS `commentaire_general`,
  1 AS `created_at`,
  1 AS `updated_at`,
  1 AS `nom_entreprise`,
  1 AS `nom_acteur`,
  1 AS `niveau_cybersecurite`,
  1 AS `couleur_cybersecurite`,
  1 AS `niveau_maturite_digitale`,
  1 AS `couleur_maturite_digitale`,
  1 AS `niveau_gouvernance_donnees`,
  1 AS `couleur_gouvernance_donnees`,
  1 AS `niveau_devsecops`,
  1 AS `couleur_devsecops`,
  1 AS `niveau_innovation_numerique`,
  1 AS `couleur_innovation_numerique` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_evaluations_detail`
--

DROP TABLE IF EXISTS `v_evaluations_detail`;
/*!50001 DROP VIEW IF EXISTS `v_evaluations_detail`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8mb4;
/*!50001 CREATE VIEW `v_evaluations_detail` AS SELECT
 1 AS `id_evaluation`,
  1 AS `id_entreprise`,
  1 AS `nom_entreprise`,
  1 AS `id_acteur`,
  1 AS `nom_acteur`,
  1 AS `email_acteur`,
  1 AS `score_global`,
  1 AS `score_cybersecurite`,
  1 AS `score_maturite_digitale`,
  1 AS `score_gouvernance_donnees`,
  1 AS `score_devsecops`,
  1 AS `score_innovation_numerique`,
  1 AS `date_debut`,
  1 AS `date_soumission`,
  1 AS `duree_evaluation`,
  1 AS `statut`,
  1 AS `commentaire_general` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_fonctions_maturite_complete`
--

DROP TABLE IF EXISTS `v_fonctions_maturite_complete`;
/*!50001 DROP VIEW IF EXISTS `v_fonctions_maturite_complete`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8mb4;
/*!50001 CREATE VIEW `v_fonctions_maturite_complete` AS SELECT
 1 AS `id_fonction`,
  1 AS `nom`,
  1 AS `description`,
  1 AS `code_fonction`,
  1 AS `couleur`,
  1 AS `icone`,
  1 AS `ordre_affichage`,
  1 AS `poids`,
  1 AS `actif`,
  1 AS `nb_questions`,
  1 AS `nb_niveaux`,
  1 AS `nb_recommandations`,
  1 AS `score_min_global`,
  1 AS `score_max_global`,
  1 AS `created_at`,
  1 AS `updated_at` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_scores_entreprise`
--

DROP TABLE IF EXISTS `v_scores_entreprise`;
/*!50001 DROP VIEW IF EXISTS `v_scores_entreprise`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8mb4;
/*!50001 CREATE VIEW `v_scores_entreprise` AS SELECT
 1 AS `id_entreprise`,
  1 AS `nom_entreprise`,
  1 AS `secteur`,
  1 AS `taille_entreprise`,
  1 AS `nombre_evaluations`,
  1 AS `score_global_moyen`,
  1 AS `score_cybersecurite_moyen`,
  1 AS `score_maturite_digitale_moyen`,
  1 AS `score_gouvernance_donnees_moyen`,
  1 AS `score_devsecops_moyen`,
  1 AS `score_innovation_numerique_moyen`,
  1 AS `premiere_evaluation`,
  1 AS `derniere_evaluation` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vue_formulaires_details`
--

DROP TABLE IF EXISTS `vue_formulaires_details`;
/*!50001 DROP VIEW IF EXISTS `vue_formulaires_details`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8mb4;
/*!50001 CREATE VIEW `vue_formulaires_details` AS SELECT
 1 AS `id_formulaire`,
  1 AS `statut`,
  1 AS `date_creation`,
  1 AS `date_modification`,
  1 AS `questionnaire_nom`,
  1 AS `thematiques`,
  1 AS `fonctions`,
  1 AS `acteur_nom`,
  1 AS `nom_entreprise` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_entreprise_stats_evaluations`
--

/*!50001 DROP VIEW IF EXISTS `v_entreprise_stats_evaluations`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`admin`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_entreprise_stats_evaluations` AS select `e`.`id_entreprise` AS `id_entreprise`,`e`.`nom_entreprise` AS `nom_entreprise`,`e`.`secteur` AS `secteur`,count(distinct `ev`.`id_evaluation`) AS `nb_evaluations_total`,count(distinct (case when (`ev`.`statut` = 'TERMINE') then `ev`.`id_evaluation` end)) AS `nb_evaluations_terminees`,count(distinct (case when (`ev`.`statut` = 'EN_COURS') then `ev`.`id_evaluation` end)) AS `nb_evaluations_en_cours`,avg((case when (`ev`.`statut` = 'TERMINE') then `ev`.`score_global` end)) AS `score_global_moyen`,avg((case when (`ev`.`statut` = 'TERMINE') then `ev`.`score_cybersecurite` end)) AS `score_cybersecurite_moyen`,avg((case when (`ev`.`statut` = 'TERMINE') then `ev`.`score_maturite_digitale` end)) AS `score_maturite_digitale_moyen`,avg((case when (`ev`.`statut` = 'TERMINE') then `ev`.`score_gouvernance_donnees` end)) AS `score_gouvernance_donnees_moyen`,avg((case when (`ev`.`statut` = 'TERMINE') then `ev`.`score_devsecops` end)) AS `score_devsecops_moyen`,avg((case when (`ev`.`statut` = 'TERMINE') then `ev`.`score_innovation_numerique` end)) AS `score_innovation_numerique_moyen`,max(`ev`.`date_soumission`) AS `derniere_evaluation`,min(`ev`.`date_debut`) AS `premiere_evaluation`,avg(`ev`.`duree_evaluation`) AS `duree_moyenne_evaluation` from (`entreprises` `e` left join `evaluations_maturite_globale` `ev` on((`e`.`id_entreprise` = `ev`.`id_entreprise`))) group by `e`.`id_entreprise` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_evaluation_complete`
--

/*!50001 DROP VIEW IF EXISTS `v_evaluation_complete`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`admin`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_evaluation_complete` AS select `ev`.`id_evaluation` AS `id_evaluation`,`ev`.`id_entreprise` AS `id_entreprise`,`ev`.`id_acteur` AS `id_acteur`,`ev`.`statut` AS `statut`,`ev`.`date_debut` AS `date_debut`,`ev`.`date_soumission` AS `date_soumission`,`ev`.`duree_evaluation` AS `duree_evaluation`,`ev`.`score_global` AS `score_global`,`e`.`nom_entreprise` AS `nom_entreprise`,`e`.`secteur` AS `secteur`,`a`.`nom_prenom` AS `nom_acteur`,`a`.`email` AS `email_acteur`,count(distinct `r`.`id_reponse`) AS `nb_reponses`,count(distinct `r`.`id_question`) AS `nb_questions_repondues`,(case when (`ev`.`score_global` >= 4.0) then 'Optimis├®' when (`ev`.`score_global` >= 3.0) then 'G├®r├®' when (`ev`.`score_global` >= 2.0) then 'Mesur├®' when (`ev`.`score_global` >= 1.0) then 'D├®fini' else 'Initial' end) AS `niveau_maturite_global` from (((`evaluations_maturite_globale` `ev` join `entreprises` `e` on((`ev`.`id_entreprise` = `e`.`id_entreprise`))) join `acteurs` `a` on((`ev`.`id_acteur` = `a`.`id_acteur`))) left join `reponses_maturite_globale` `r` on((`ev`.`id_evaluation` = `r`.`id_evaluation`))) group by `ev`.`id_evaluation` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_evaluations_avec_niveaux`
--

/*!50001 DROP VIEW IF EXISTS `v_evaluations_avec_niveaux`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`admin`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_evaluations_avec_niveaux` AS select `e`.`id_evaluation` AS `id_evaluation`,`e`.`id_entreprise` AS `id_entreprise`,`e`.`id_acteur` AS `id_acteur`,`e`.`score_global` AS `score_global`,`e`.`score_cybersecurite` AS `score_cybersecurite`,`e`.`score_maturite_digitale` AS `score_maturite_digitale`,`e`.`score_gouvernance_donnees` AS `score_gouvernance_donnees`,`e`.`score_devsecops` AS `score_devsecops`,`e`.`score_innovation_numerique` AS `score_innovation_numerique`,`e`.`date_debut` AS `date_debut`,`e`.`date_soumission` AS `date_soumission`,`e`.`duree_evaluation` AS `duree_evaluation`,`e`.`statut` AS `statut`,`e`.`commentaire_general` AS `commentaire_general`,`e`.`created_at` AS `created_at`,`e`.`updated_at` AS `updated_at`,`ent`.`nom_entreprise` AS `nom_entreprise`,`act`.`nom_prenom` AS `nom_acteur`,`nc`.`nom_niveau` AS `niveau_cybersecurite`,`nc`.`couleur` AS `couleur_cybersecurite`,`nd`.`nom_niveau` AS `niveau_maturite_digitale`,`nd`.`couleur` AS `couleur_maturite_digitale`,`ng`.`nom_niveau` AS `niveau_gouvernance_donnees`,`ng`.`couleur` AS `couleur_gouvernance_donnees`,`ndso`.`nom_niveau` AS `niveau_devsecops`,`ndso`.`couleur` AS `couleur_devsecops`,`ni`.`nom_niveau` AS `niveau_innovation_numerique`,`ni`.`couleur` AS `couleur_innovation_numerique` from ((((((((((((`evaluations_maturite_globale` `e` left join `entreprises` `ent` on((`e`.`id_entreprise` = `ent`.`id_entreprise`))) left join `acteurs` `act` on((`e`.`id_acteur` = `act`.`id_acteur`))) left join `fonctions_maturite_globale` `fc` on((`fc`.`code_fonction` = 'cybersecurite'))) left join `niveaux_maturite_globale` `nc` on(((`fc`.`id_fonction` = `nc`.`id_fonction`) and (`e`.`score_cybersecurite` >= `nc`.`score_min`) and (`e`.`score_cybersecurite` <= `nc`.`score_max`)))) left join `fonctions_maturite_globale` `fd` on((`fd`.`code_fonction` = 'maturite_digitale'))) left join `niveaux_maturite_globale` `nd` on(((`fd`.`id_fonction` = `nd`.`id_fonction`) and (`e`.`score_maturite_digitale` >= `nd`.`score_min`) and (`e`.`score_maturite_digitale` <= `nd`.`score_max`)))) left join `fonctions_maturite_globale` `fgd` on((`fgd`.`code_fonction` = 'gouvernance_donnees'))) left join `niveaux_maturite_globale` `ng` on(((`fgd`.`id_fonction` = `ng`.`id_fonction`) and (`e`.`score_gouvernance_donnees` >= `ng`.`score_min`) and (`e`.`score_gouvernance_donnees` <= `ng`.`score_max`)))) left join `fonctions_maturite_globale` `fdso` on((`fdso`.`code_fonction` = 'devsecops'))) left join `niveaux_maturite_globale` `ndso` on(((`fdso`.`id_fonction` = `ndso`.`id_fonction`) and (`e`.`score_devsecops` >= `ndso`.`score_min`) and (`e`.`score_devsecops` <= `ndso`.`score_max`)))) left join `fonctions_maturite_globale` `fin` on((`fin`.`code_fonction` = 'innovation_numerique'))) left join `niveaux_maturite_globale` `ni` on(((`fin`.`id_fonction` = `ni`.`id_fonction`) and (`e`.`score_innovation_numerique` >= `ni`.`score_min`) and (`e`.`score_innovation_numerique` <= `ni`.`score_max`)))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_evaluations_detail`
--

/*!50001 DROP VIEW IF EXISTS `v_evaluations_detail`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`admin`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_evaluations_detail` AS select `ev`.`id_evaluation` AS `id_evaluation`,`ev`.`id_entreprise` AS `id_entreprise`,`e`.`nom_entreprise` AS `nom_entreprise`,`ev`.`id_acteur` AS `id_acteur`,`a`.`nom_prenom` AS `nom_acteur`,`a`.`email` AS `email_acteur`,`ev`.`score_global` AS `score_global`,`ev`.`score_cybersecurite` AS `score_cybersecurite`,`ev`.`score_maturite_digitale` AS `score_maturite_digitale`,`ev`.`score_gouvernance_donnees` AS `score_gouvernance_donnees`,`ev`.`score_devsecops` AS `score_devsecops`,`ev`.`score_innovation_numerique` AS `score_innovation_numerique`,`ev`.`date_debut` AS `date_debut`,`ev`.`date_soumission` AS `date_soumission`,`ev`.`duree_evaluation` AS `duree_evaluation`,`ev`.`statut` AS `statut`,`ev`.`commentaire_general` AS `commentaire_general` from ((`evaluations_maturite_globale` `ev` join `entreprises` `e` on((`ev`.`id_entreprise` = `e`.`id_entreprise`))) join `acteurs` `a` on((`ev`.`id_acteur` = `a`.`id_acteur`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_fonctions_maturite_complete`
--

/*!50001 DROP VIEW IF EXISTS `v_fonctions_maturite_complete`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`admin`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_fonctions_maturite_complete` AS select `f`.`id_fonction` AS `id_fonction`,`f`.`nom` AS `nom`,`f`.`description` AS `description`,`f`.`code_fonction` AS `code_fonction`,`f`.`couleur` AS `couleur`,`f`.`icone` AS `icone`,`f`.`ordre_affichage` AS `ordre_affichage`,`f`.`poids` AS `poids`,`f`.`actif` AS `actif`,count(distinct `q`.`id_question`) AS `nb_questions`,count(distinct `n`.`id_niveau`) AS `nb_niveaux`,count(distinct `r`.`id_recommandation`) AS `nb_recommandations`,min(`n`.`score_min`) AS `score_min_global`,max(`n`.`score_max`) AS `score_max_global`,`f`.`created_at` AS `created_at`,`f`.`updated_at` AS `updated_at` from (((`fonctions_maturite_globale` `f` left join `questions_maturite_globale` `q` on(((`f`.`id_fonction` = `q`.`id_fonction_globale`) and (`q`.`actif` = 1)))) left join `niveaux_maturite_globale` `n` on(((`f`.`id_fonction` = `n`.`id_fonction`) and (`n`.`actif` = 1)))) left join `recommandations_maturite_globale` `r` on(((`f`.`id_fonction` = `r`.`id_fonction`) and (`r`.`actif` = 1)))) where (`f`.`actif` = 1) group by `f`.`id_fonction` order by `f`.`ordre_affichage` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_scores_entreprise`
--

/*!50001 DROP VIEW IF EXISTS `v_scores_entreprise`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`admin`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `v_scores_entreprise` AS select `e`.`id_entreprise` AS `id_entreprise`,`e`.`nom_entreprise` AS `nom_entreprise`,`e`.`secteur` AS `secteur`,`e`.`taille_entreprise` AS `taille_entreprise`,count(`ev`.`id_evaluation`) AS `nombre_evaluations`,round(avg(`ev`.`score_global`),2) AS `score_global_moyen`,round(avg(`ev`.`score_cybersecurite`),2) AS `score_cybersecurite_moyen`,round(avg(`ev`.`score_maturite_digitale`),2) AS `score_maturite_digitale_moyen`,round(avg(`ev`.`score_gouvernance_donnees`),2) AS `score_gouvernance_donnees_moyen`,round(avg(`ev`.`score_devsecops`),2) AS `score_devsecops_moyen`,round(avg(`ev`.`score_innovation_numerique`),2) AS `score_innovation_numerique_moyen`,min(`ev`.`date_soumission`) AS `premiere_evaluation`,max(`ev`.`date_soumission`) AS `derniere_evaluation` from (`entreprises` `e` left join `evaluations_maturite_globale` `ev` on(((`e`.`id_entreprise` = `ev`.`id_entreprise`) and (`ev`.`statut` = 'TERMINE')))) group by `e`.`id_entreprise`,`e`.`nom_entreprise`,`e`.`secteur`,`e`.`taille_entreprise` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_formulaires_details`
--

/*!50001 DROP VIEW IF EXISTS `vue_formulaires_details`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`admin`@`%` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_formulaires_details` AS select `f`.`id_formulaire` AS `id_formulaire`,`f`.`statut` AS `statut`,`f`.`date_creation` AS `date_creation`,`f`.`date_modification` AS `date_modification`,`q`.`nom` AS `questionnaire_nom`,group_concat(distinct `t`.`nom` order by `qt`.`ordre` ASC separator ',') AS `thematiques`,group_concat(distinct `func`.`nom` order by `func`.`nom` ASC separator ',') AS `fonctions`,`act`.`nom_prenom` AS `acteur_nom`,`e`.`nom_entreprise` AS `nom_entreprise` from ((((((`formulaires` `f` left join `questionnaires` `q` on((`f`.`id_questionnaire` = `q`.`id_questionnaire`))) left join `questionnaire_thematiques` `qt` on((`q`.`id_questionnaire` = `qt`.`id_questionnaire`))) left join `thematiques` `t` on((`qt`.`id_thematique` = `t`.`id_thematique`))) left join `fonctions` `func` on((`t`.`id_fonction` = `func`.`id_fonction`))) left join `acteurs` `act` on((`f`.`id_acteur` = `act`.`id_acteur`))) left join `entreprises` `e` on((`act`.`id_entreprise` = `e`.`id_entreprise`))) group by `f`.`id_formulaire` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-06-30 21:04:07
